<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{{ STATIC_URL }}css/frame.css" />
        <script type = "text/javascript" src= "{{ STATIC_URL }}script/jQuery.js"> </script>
        <script type = "text/javascript" src= "{{ STATIC_URL }}script/navi.js"> </script>
        {% block CSSJS %}
        {% endblock %}
        {% block title %}
        {% endblock %}
    </head>
    <!--body class = "d"-->
        <div id = "indent">
            
        </div>
        <div id = "header" class = "d b1">
            <div id = "userinfo" class = "d b2">
                <div id = "userhead" class = "d">
                    <image src = "{{ STATIC_URL }}image/3.jpg" width = 100px>
                </div>
                <div id = "userother" class = "d">
                    {{name}}</br>
                    Last login: 2013.7.13 22:23 </br>
                    <a id = "logout" href = "/logout/">
                        logout
                    </a>
                </div>
            </div>
            <div id = "logo" class = "d ">
                <img src = "{{ STATIC_URL }}image/6.png" width = 260px />
            </div>
            <div id = "sensor" class = "d">
                <a href = "/home/">
                    <div id = "back" class = "d b2 nav">HOME</div>
                </a>
                <a href = "/message/">
                    <div id = "navimess" class = "d b2 nav">Message</div>
                </a>
                <a href = "/file/">
                    <div id = "navifile" class = "d b2 nav">File</div>
                </a>
                <a href = "/status/">
                    <div id = "navistat" class = "d b2 nav">Status</div>
                </a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div id = "footer" class = "d b1">
            X20@2013 All Rights Reserved.
        </div>
    <!--/body-->
</html>