<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{{STATIC_URL}}css/index.css" />
        <link rel = "stylesheet" type = "text/css" href = "{{STATIC_URL}}css/frame.css" />
        <script type = "text/javascript" src= "{{ STATIC_URL }}script/jQuery.js"> </script>
        <script type = "text/javascript" src= "{{ STATIC_URL }}script/index.js"> </script>
        <title>X20 Log in</title>
    </head>
    <body >
        <div id="header2" class="d b1">
            Class Online
        </div>
        <div id="navi" class="d">
            <div id="buttonl" class="d">
                log in
            </div>
            <div id="buttons" class="d">
                sign up
            </div>
        </div>
        <div id = "login" class = "d b3">
            <div id = "form" class = "d">
                <form action = "login/" method = "POST" id = "Form" class = "d">
                    {% csrf_token %}
                    <label id = "lb1" class="default d">User name</label></br>
                    <input name = "user" type = "text" id="inputu" class="in d"/></br>
                    <label id = "lb2" class="default d">Pass Word</label></br>
                    <input name = "pass" type = "password" id="inputp" class="in d"/></br></br>
                    <input id = "submit" class = "d b4" type = "submit" value = "log in" />
                </form>
            </div>
        </div>
    <div id = "footer2" class = "d b1">
            X20&copy 2013 All Rights Reserved.
    </div>
    </body>
</html>