{% extends "frame.html" %}

{% block CSSJS %}
<link rel = "stylesheet" type = "text/css" href = "{{ STATIC_URL }}css/homepage.css" />
{% endblock %}

{% block title %}
<title> X20 Homepage </title>
{% endblock %}

{% block content %}
<a href = "/message/">
    <div id = "M" class = "d b3 blo">
        Message
    </div>
</a>
<a href = "/file/">
    <div id = "F" class = "d b4 blo">
        File
    </div>
</a>
</br>
<a href = "/status/">
    <div id = "S" class = "d b4 blo">
        Status
    </div>
</a>
<div id = "L" class = "d b3 blo">
    Interpreter
</div>

<div id = "N" class = "d blo">
    Notifications
</div>
{% endblock %}