{% extends "frame.html" %}

{% block CSSJS %}
<link rel = "stylesheet" type = "text/css" href = "{{ STATIC_URL }}css/message.css" />
{% endblock %}

{% block title %}
<title> X20 Message </title>
{% endblock %}

{% block content %}

<div id = "friends" class = "d b3">
    Friends:</br>
    {% for user in friends %}
    <div id = "friend" class = "d b4">
        {{user.username}}</br>
    </div>
    {% endfor %}
</div>
<div id = "messages" class = "d b3">
    messages you've recieved.
</div>

{% endblock %}