.d
{
    //border: red solid thin;
    border-radius: 15px;
    font-family: "Myriad Pro", "Arial";
    text-decoration: none;
    //margin: 10px;
}

.b1
{
    background-color: #63B8FF;
}

.b2
{
    background-color: #6495ED;
}

.b3
{
    background-color: rgb(255, 187, 37);
}

.b4
{
    background-color: rgb(223, 74, 26);
}

.b5
{
    background-color: rgb(233, 104, 36);
}

a:link {text-decoration:none;}    /* 未被访问的链接 */
a:visited {text-decoration:none;} /* 已被访问的链接 */
   /* 鼠标指针移动到链接上 */
a:active {text-decoration:none;}

body
{
    //background-color: rgb(162,253,126);
}
#indent
{
    height: 120px;
}

#header
{
    //background-image: url(image/4.jpg);
    //background-repeat: no-repeat;
    
    //font-family: Menlo;
    
    padding: 10px;
    margin: 1%;
    
    width: 95%;
    height: 93px;
    position: fixed;
    
    top: 0px;
    //width: 1150px;
    //border: white solid thin;
    
    z-index: 1;
}
#userinfo
{
    padding: 10px;
    margin: 0px
    
    position: relative;
    float: left;
    
    width: 40%;
    height: 73px;
    
    color: white;
    //border: blue solid thin;
}
    #userhead
    {
        position: relative;
        float: left;
    }
    #userother
    {
        position: relative;
        float: left;
        
        padding: 10px;
    }
#logout
{
    color: white;
}
#logout:hover
{
    color: red;
}
#logo
{
    position: relative;
    float: left;
    left: 10px;
    
    margin: 0px;
    padding: 10px;
    
    width: 30%;
    //border: blue solid thin;
}
#back
{
    position: relative;
    float: right;
    
    height: 70px;
    line-height: 70px;
    width: 83%;
    
    text-align: center;
    font-size: 14pt;
    
    z-index: 5;
    
    padding: 10px;
    //margin: 10px;
    color: white;
}
#back:hover
{
    background-color: #436EEE;
}

#sensor
{
    height: 100px;
    position: relative;
    float: right;
    //right: 30px;
    
    
    width: 10%;
}

.nav
{
    position:absolute;
    left: 10px
    
    //margin: 6%;
    //padding: ;
    
    height: 50px;
    line-height: 50px;
    width: 99%;
    
    color: white;
    text-align: center;
    
    z-index: 2;
    
    font-size: 14pt;
}
.nav:hover
{
    background-color: #436EEE;
    //background-color: #AAAAAA;
}

#navimess
{
    top: 0px;
}
#navifile
{
    top: 0px;
}
#navistat
{
    top: 0px;
}

#footer
{
    position: relative;
    float: left;
    
    width: 97%;
    
    text-align: center;
    
    color: white;
    
    margin: 10px;
}
