.blo
{
    position: relative;
    float: left;
    text-align: center;
    height: 200px;
    line-height: 200px;
    margin: 1%;
    font-size: 20pt;
}
#M
{
    width: 35%;
}
#F
{
    width: 61%;
}
#S
{
    width: 66%;
}
#L
{
    width: 30%;
}