.d
{
    //border: red solid thin;
    font-family: "Myriad Pro";
}

#form
{
    position: reletive;
    top: 100px;
    text-align: center; 
    font-family: Courier;
}

#body
{
    border: red dolid thin;
    padding: 250px;
    //width: 400px;
    position: reletive;
    float: center;
    //border: blue solid thin;
}
#content
{
    //position: reletive;
    //top: 250px;
    width: 250px;
    padding: 10px;
}
#title
{
    position: reletive;
    text-aligh: center;
    font-size: 20pt;
}
#subtitle
{
    font-size: 15pt
}
#wrong
{
    color: #FF0000;
}