<html>

<head>

<meta http-equiv='content-type' content="charset=utf-8"/>
<style src="form.css" type="text/css">
</style>

</head>

<body>
	<h1>
		<center id="h">
			hello, please login
		</center>
	</h1>
	<form action='/login/' method="POST">
		<center>
		{% csrf_token %}
		
			<label for='name'>name: </label>
			<input type='text' name='username'/> <br/>
			<label for='password'>password: </label>
			<input type='password' name='password' style="
				width: 50px;
			"/> <br/>
		
			<input type='submit' value='Submit' style="
				font-size: 50px;
				height: 50px;
				width: 150px;
			"/>
		</center>
	</form>
	
	<form action='/toRegister/' method='POST'>
		<center>
		{% csrf_token %}
			
			还没注册呐？<br/>
			<input type='submit' value='Click to register' />
		</center>
	</form>
	
</body>

</html>