{% extends 'homepage.html' %}

{% block content %}
<div id='addGroup'>
	<form action='.' method='POST'>
	{% csrf_token %}
	
		<label for='group_name'>新建群名</label>
		<input type='text' name='newGroup' />
		<label for='note'>备注说明</label>
		<input type='text' name='note' />
		<input type='submit' value='Register' />
	</form>
</div>

<div id='groupList'>
{% for eachGroup in allGroup %}
<div class='eachGroup'>
	{{eachGroup.groupName}}<br/>
	{{eachGroup.note}}<br/>
	<form action='.' method='POST'>
		<input type='hidden' name='join' value="{{eachGroup.groupName}}"/>
		<input type='submit' value="click to join this group"/>
	</form>
</div>
{% endfor %}
</div>

<div id='myGroupList'>
{% for eachGroup in myGroup %}
<div class='eachGroup'>
	{{eachGroup.groupName}}<br/>
	{{eachGroup.note}}<br/>
</div>
{% endfor %}
</div>

<div id='backhome'>
	<form action='/homepage/' method='POST'>
	{% csrf_token %}
	
		<input type='submit' value="back to homepage" />
	</form>
</div>

{% endblock %}

{% block footer %}
----------------------notification------------------------
{% endblock %}