<html>
<head>
	<meta http-equiv='content-type' content='charset=utf-8' />
	<script src="/static/jQuery.js" type='text/javascript'></script>
	<script src="{% jsURL  %}" type="text/javascript"></script>
</head>

<body>

	<div id='header'>
		<div>
			hello! <br/>
			{{username}}
		</div>
	</div>

	<div id='content'>
		{% block content %}
		
		<div id='messege'>
			{% csrf_token %}
			Messege
		</div>
		
		<div id='file'>
			{% csrf_token %}
			file
		</div>
		
		<div id='status'>
			{% csrf_token %}
			status
		</div>
		
		<div id='lang'>
			{% csrf_token %}
			lang
		</div>
		
		{% endblock %}
	</div>
	{% block footer %}
		<div id='footer'>
			notification
		</div>
		
		<div id='group'>
			<form action='./group/' method='POST'>
				<input type='submit' value="see all group" />
			</form>
		</div>
		
	{% endblock %}
	
</body>
</html>