.d
{
    //border: red solid thin;
    border-radius: 15px;
    font-family: "Myriad Pro";
    text-align: center;
}

a:link {text-decoration:none;}    /* 未被访问的链接 */
a:visited {text-decoration:none;} /* 已被访问的链接 */
/* 鼠标指针移动到链接上 */
a:active {text-decoration:none;}

.b1
{
    background-color: #63B8FF;
}

.b2
{
    background-color: #6495ED;
}

#form1
{
    position: relative;
    top: 10px;
    text-align: center; 
    font-family: "Courier";
    color: #191970;
}

#body1
{
    border: red dolid thin;
    //padding: 250px;
    position: reletive;
    float: center;
    //border: blue solid thin;
    
    width: 40%;
    height: 42%;
    
    margin-left: 0%;
    margin-right: 30%;
    margin-top: 0%;
    
    background-color: #63B8FF;
}
#title1
{
    position: relative;
    padding-top: 20px;
    
    text-align: center;
    font-size: 20pt;
    color: #191970;
    
    width: 100%;
}
#subtitle
{
    position: relative;
    color: #191970;
    
    font-size: 15pt;
    width: 100%;
}

#submit1
{
    border: none;
    
    position: relative;
    float: left;
    
    height: 30px;
    line-height: 30px;
    margin-left: 25%;
    margin-right: 5%;
    width: 20%;
    
    color: white;
    
    font-size: 11pt;
}
#submit1:hover
{
    background-color: #436EEE;
}

#toregister
{
    position: relative;
    float: left;
    
    height: 30px;
    line-height: 30px;
    margin-right: 25%;
    margin-left: 5%;
    width: 20%;
    
    color: white;
}
#toregister:hover
{
    background-color: #436EEE;
}

#wrong
{
    position: relative;
    top: 13px;
    color: #B22222;
}


#body2
{
    border: red dolid thin;
    //padding: 250px;
    position: reletive;
    float: center;
    //border: blue solid thin;
    
    width: 50%;
    height: 47%;
    
    margin-left: 0%;
    margin-right: 25%;
    margin-top: 2%;
    
    background-color: #63B8FF;
}
#title2
{
    position: relative;
    padding-top: 20px;
    
    text-align: center;
    font-size: 20pt;
    color: #191970;
    
    width: 100%;
}

#form2
{
    position: relative;
    float: left;
    top: 10px;
    text-align: left;
    //font-family: "";
    color: #4949A0;
    font-size: 8pt;
    line-height: 30px;
}

#label
{
    position: relative;
    float: left;
    
    top: 10px;
    margin-left: 60px;
    margin-right: 10px;
    
    text-align: right;
    //font-family: "";
    color: #191970;
    
    line-height: 30px;
}

.input
{
    border: none;
    background-color: #C6E2FF;
    height: 23px;
    font-size: 13pt;
    width: 150px;
}

#submit2
{
    border: none;
    
    position: relative;
    float: left;
    
    height: 30px;
    line-height: 30px;
    width: 35%;
    
    color: white;
    
    font-size: 11pt;
}
#submit2:hover
{
    background-color: #436EEE;
}

#warning
{
    position: relative;
    float: left;
    margin-top: 20px;
    width: 100%;
    //top: 13px;
    color: #B22222;
}