#header2 {
    color: white;
    font-size: 55px;

    padding-left: 10%;

    margin: 1%;
    
    width: 87%;
    height: 93px;
    line-height:93px;
    position:fixed;
    
    top: 0px;
}

#navi {
    position:relative;
    float: left;

    text-align: center;

    height: 50%;
    left:10%;
    top:28%;
    width:20%;
    
    font-size:20px;
    color: white;
    font-family:'Myriad Pro', "Arial";
}

#buttonl {
    margin-top:0%;
    height:45%;
    line-height: 120px;
    //padding-top: 40%;
    background-color:rgb(255, 187, 37);
}
#buttonl:hover
{
    background-color: rgb(255, 167, 17);
}

#buttons {
    margin-top:10%;
    //margin-bottom: 0%;
    height:45%;
    //padding-top: 40%;
    line-height:120px;
    background-color:rgb(223, 74, 26);
}
#buttons:hover
{
    background-color: rgb(193, 54, 6);
}
/*
#label
{
    position: relative;
    height: 70px;
    top: -4%;
    line-height: 40px;
}
*/
#lb1
{
    visibility: visible;
}

#form
{
    position: relative;
    top: 15%;
    text-align: center; 
    font-family: "Courier";
    color: #191970;
    height: 30%;
    //line-height: 30px;
}
#login
{
    position: relative;
    float: left;
    top: 28%;
    left:12%;
    width: 35%;
    height: 50%;
}

#username{
}

#password {
}

.in {
    height:40px;
    width: 300px;
    //display:inline-block;
    outline:none;
    border:none;
    margin: px;
    padding: 3px;
    background-color: rgb(255, 237, 130);
    font-size: 20px;
}

.default {
    position: relative;
    top:30px;
    right: 100px;
    //bottom:1px;
    //left:2px;
    font-size: 20px;
    color:#999;
}

#submit
{
    border: none;
    
    position: relative;
    float: left;
    
    height: 30px;
    line-height: 30px;
    margin-left: 25%;
    margin-right: 5%;
    width: 20%;
    
    color: white;
    
    font-size: 11pt;
}
#submit:hover
{
    background-color: rgb(193, 54, 6);
}

#signup {
    position:relative;
    float:left;
}

#wrong
{
    position: relative;
    top: 13px;
    color: #B22222;
}

#footer2 {
    position: fixed;
    float: left;
    
    width: 97%;
    bottom:0;
    text-align: center;
    
    color: white;
    
    margin: 10px;
}
